name: translate

on:
  workflow_dispatch:
    inputs:
      target_languages: 
        description: 'Target languages (comma-separated)'
        required: false
        default: "en_US,es_ES,de_DE,it_IT,pt_PT"
  push:
    branches:
      - beta

jobs:
  auto-translate: 
    runs-on: ubuntu-latest
    steps:
      - uses: Mips2648/plugins-translations@main
        with:
          target_languages: ${{ github.event.inputs.target_languages || 'en_US,es_ES,de_DE,it_IT,pt_PT' }}
          use_core_translations: false
          deepl_api_key: ${{ secrets.DEEPL_API_KEY }}